.thumb {
    zoom: 60%;
    min-width: 25%;
}

.invisible {
    height: 0;
    width: 0;
    display: none;
}

.entry-image-card {
    width: 100%;
    max-height: 50%;

    object-fit: contain;
    object-position: center;
}