.event-card {
    flex: 1;
    overflow-y: hidden;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 12px rgba(100, 100, 100, 0.5);
    padding: 1em;
    border: 1px solid rgb(225, 225, 225);
    box-sizing: border-box;

    cursor: default;

    width: 22vw;
    min-width: 22vw;

    // height: fit-content;
    min-height: 58vh;

    a {
        text-decoration: none;
        color: inherit;
        height: 100%;

        > div {
            position: relative;
            height: 100%;
        }
    }
}

.event-info {

    margin-top: 1em;

    h5, h6, p {
        align-self: center;
        width: 100%;
        color: rgb(25, 25, 25);
    }

    h5, h6 {
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .genre-label {
        font-size: .8rem;
        width: auto;
        color: white;
        text-transform: uppercase;
        background-color: rgb(175, 175, 175);
        padding: .2em .45em;
    }

    .event-subtitle {
        text-align: center;
    }

    .blurb {
        font-size: .75rem;
        font-style: italic;

        margin-bottom: 0.5em;
        padding: 0 1em 0 1em;

        p {
            margin-bottom: .5em;

            /deep/ &:not(.tagline) {
                margin-bottom: .25em;
            }
        }
    }

    h5.with-blurb {
        height: auto;
        margin-bottom: .25em;
    }

    h6.with-blurb {
        height: auto;
        margin-bottom: .5em;
    }
}

.divider {
    border-top: 1px solid rgb(200, 200, 200);
    margin-bottom: 0.5em;
}

.placeholder {
    height: 50%;
}

.date-range {
    margin-bottom: 0em;
}

.location {
    font-size: 12px;
    margin-bottom: 1em;
}

@media screen and (max-width: 1200px) {

    .event-card {
        width: 33vw;
        min-width: 33vw;

        min-height: 48vh;
    }
}

@media screen and (max-width: 992px) {

    .event-card {
        width: 40vw;
        min-width: 40vw;

        min-height: 38vh;
    }
}


@media screen and (max-width: 768px) {

    .event-card {
        width: 50vw;
        min-width: 50vw;

        min-height: 28vh;
    }
}